<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Free CRM Aplication Test Automation">
  
   <listeners>
   <listener class-name="com.qa.ExtentReportListener.ExtentReporterNG"/>
   </listeners>
  <test name="Free CRM Test Cases">
  <classes>
  <class name="com.crm.qa.testcases.ContactsPageTest"></class>
   <class name="com.crm.qa.testcases.HomePageTest"></class>
    <class name="com.crm.qa.testcases.LoginPageTest"></class>
  
  </classes>
  
  </test>
</suite> 